APP_NAME=
SECRET_KEY=
REFRESH_SECRET_KEY=
DATABASE_URL=postgresql+psycopg2://postgres.arkdcunbupfznbymiaxm:FOOW5n2xqd92nQeE@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require
ENV=
DEBUG=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
ADMIN_ACTION_KEY=
